{% extends "templates/partials/master.html" %}
{% block content %}
<h1>URL shortener</h1>
<p>
The simple, self-hosted, open source and privacy friendly URL shortener : anonymous usage, no tracking.<br>
This is a personal sharing service: Data may be deleted anytime. Don't share illegal, unethical or morally reprehensible content.
</p>
<p>
This service is written in <a href="https://nim-lang.org/">nim</a>, its source code can be found <a href="https://git.adyxax.org/adyxax/short">here</a> and is mirrored to github <a href="https://github.com/adyxax/short">here</a>.
{% endblock %}
