{% extends "templates/partials/master.html" %}
{% block content %}
<h1>Shorten a URL</h1>
<form action="/" method="post">
	<input class="fullwidth" type="text" placeholder="Enter a title here" name="title" value="{{ $req.Title }}" minlength="3" maxlength="64" required autofocus><br>
	<input class="fullwidth" type="url" placeholder="Enter the URL to shorten here" name="url" value="{{ $req.Url }}" minlength="3" maxlength="512" required><br>
	<label for="expires">Expires in:</label>
	<select id="expires" name="expires">
		<option value="5">5 minutes</option>
		<option value="10">10 minutes</option>
		<option value="60">1 hour</option>
		<option value="1440">1 day</option>
		<option value="10080" selected>1 week</option>
		<option value="44640">1 month</option>
		<option value="263520">6 months</option>
		<option value="527040">1 year</option>
	</select>
	<input type="submit" value="shorten">
</form>
<ul>
</ul>
{% endblock %}
