<!doctype html>
<html class="no-js" lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
		<link rel="alternate icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="{{ $cssRoute }}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The simple, self-hosted, open source and privacy friendly URL shortener : anonymous usage, no tracking.">
		<title>short.adyxax.org</title>
	</head>
	<body>
		<header>
			{% importnwt "templates/partials/nav.html" %}
		</header>
		<main id="main">
			<hr>
			{% block content %}{% endblock %}
		</main>
		{% importnwt "templates/partials/footer.html" %}
	</body>
</html>
